# Jekyll 빌드 결과물
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# 로컬 개발 환경 설정 파일
.bundle/
vendor/

# OS 생성 파일
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jekyll 생성 파일
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# 로컬 빌드 환경
vendor/
.bundle/ 