<div class="container intro-container">
  <h3 id="{{ site.data[site.active_lang].strings.about_title | slugify | default: 'about-me' }}">{{ site.data[site.active_lang].strings.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3">
        <span class="profile-img screen-only" style="background-image: url({{ site.about_profile_image | relative_url }})"></span>
        <img src="{{ site.about_profile_image | relative_url }}" alt="Profile Photo" class="print-only">
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.data[site.active_lang].strings.about_content_md | markdownify }}
    </div>
  </div>
</div>
