<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": "{{ site.url }}/#website",
  "url": "{{ site.url }}/",
  "name": "{{ site.name | escape }} Portfolio",
  "description": {{ site.description | jsonify }},
  "publisher": { "@id": "{{ site.url }}/#person" },
  "inLanguage": "{{ page.lang | default: site.default_lang }}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ site.url }}/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script> 