<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.name | escape }}",
  "description": {{ site.description | jsonify }},
  "url": "{{ site.url | append: site.baseurl }}/",
  {% if site.image %}
  "image": "{{ site.image | absolute_url }}",
  {% endif %}
  {% if site.title %}
  "jobTitle": "{{ site.title | escape }}",
  {% endif %}
  {% assign same_as_links = "" %}
  {% if site.github_username %}{% assign same_as_links = same_as_links | append: ' "https://github.com/' | append: site.github_username | append: '",' %}{% endif %}
  {% if site.linkedin_username %}{% assign same_as_links = same_as_links | append: ' "https://www.linkedin.com/in/' | append: site.linkedin_username | append: '",' %}{% endif %}
  {% if site.email %}{% assign same_as_links = same_as_links | append: ' "mailto:' | append: site.email | append: '",' %}{% endif %}
  {% if same_as_links != "" %}
  "sameAs": [ {{ same_as_links | strip | slice: 0, -1 }} ],
  {% endif %}
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "KR"
  }
}
</script> 