{% for item in include.content %}
  <div class="row clearfix layout layout-{{item.layout | default: 'left'}} border-{{item.border | default: 'no'}}">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <p class="no-print aditional-links">
        {% for link in item.additional_links %}
          {% include a.html href=link.url class="" %}
            <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
          </a>
        {% endfor %}
      </p>
      <div class="project-title-group">
        <h4 id="{{ item.title | slugify }}" class="project-title">{{ item.title }}</h4>
        {% if item.logo %}
          <img src="{{ item.logo | relative_url }}" alt="{{ item.title }} logo" class="project-logo">
        {% endif %}
      </div>
      <div class="text-right">
        {%- if item.sub_title -%}<p><b>{{ item.sub_title }}</b></p>{%- endif -%}
        {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}
      </div>

      {%- if item.link -%}
        {% include a.html href=item.link class="link" %}
          {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
        </a>
      {%- endif -%}

      {%- if item.quote -%}
        <p class="quote">{{ item.quote }}</p>
      {%- endif -%}
      {%- if item.dev_info -%}
        {{ item.dev_info | strip | markdownify }}
      {%- endif -%}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      {{ item.description | strip | markdownify }}
    </div>
  </div>
{% endfor %}
